.data-footer-container {
  background-color: #ffafcc;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}

.data-footer-button-img {
  filter: invert(1);
  margin: 5px;
}
