.data-recipe-card-container {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125) , 0 3px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 45vw;
}

.data-recipe-card-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: all 0.3s linear;
}

.data-recipe-card-thumb {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.data-recipe-card-title {
  background-color: rgb(237, 237, 233);
  border-radius: 0 0 5px 5px;
  color: black;
  font-size: 2.5vh;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}
