.profile-email-container {
  display: flex;
  justify-content: flex-end;
}

.profile-email {
  background-color: #cbffad;
  border-radius: 100vmax;
  margin: 1.25vmax;
  padding: 1.25vmax 2.5vmax;
}

.profile-buttons-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  justify-content: center;
  margin: 30% 0;
}

.profile-button {
  background-color: #cdb4db;
  border: 0 none;
  border-radius: 0.5vmax;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5vmax;
  padding: 1.25vmax 2.5vmax;
}
